
/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    /* colors */
    --body-color: #E4E9F7;
    --white-color: #FFF;
    --primary-color: #fecb5c;
    --center-color: #fcc550;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --text-color-black: #4C4E67;
    /*  Transition */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--white-color);
    background: var(--primary-color);
}

::selection {
    color: var(--white-color);
    background: var(--primary-color);
}

body {
    background-color: #1a1a1a;
}

box-icon {
    transform: translate(0%, 24%);
    width: 20px;
}

.status-bot box-icon {
    width: 60px;
}

.glowing {
    text-shadow: hsl(0deg 0% 100% / 60%) 0 0 18px;
}

.glowing-black {
    text-shadow: rgba(0, 0, 0, 0.801) 0 0 18px;
}

.main-side {
    background-image: linear-gradient(to bottom right, #fecb5c,#ffc037);;
}